{% include "my_blog_app/base.html" %}
<body>
<h2> BLOG's LIST </h2>
{% block content %}
    {% for post in posts %}
<div>
    <h2><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
    <p>{{ post.post_content| truncatewords:10  }}</p>

</div>

{% endfor %}
{% endblock content %}


{% for post in posts %}
    {{ post.title|upper }}<br>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if post.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ post.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ post.title }} of {{ post.post_content }}.
        </span>

        {% if post.has_next %}
            <a href="?page={{ post.next_page_number }}">next</a>
            <a href="?page={{ post.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
